<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel='stylesheet'href='style.css'>
</head>
    <body>
        <div id="app" v-cloak>
            <template>
              <v-layout>
                <v-flex>
                  <v-sheet height="500">
                    <v-calendar
                      :now="today"
                      :value="today"
                      color="deep-purple"
                    >
                      <template v-slot:day="{ date }">
                        <template v-for="event in eventsMap[date]">
                          <v-menu
                            :key="event.title"
                            v-model="event.open"
                            full-width
                            offset-x
                          >
                            <template v-slot:activator="{ on }">
                              <div
                                v-if="!event.time"
                                v-ripple
                                class="my-event"
                                v-on="on"
                                v-html="event.title"
                              ></div>
                            </template>
                            <v-card
                              color="grey lighten-4"
                              min-width="350px"
                              flat
                            >
                              <v-toolbar
                                color="primary"
                                dark
                              >
                                <v-btn icon>
                                  <v-icon>edit</v-icon>
                                </v-btn>
                                <v-toolbar-title v-html="event.title"></v-toolbar-title>
                                <v-spacer></v-spacer>
                                <v-btn icon>
                                  <v-icon>favorite</v-icon>
                                </v-btn>
                                <v-btn icon>
                                  <v-icon>more_vert</v-icon>
                                </v-btn>
                              </v-toolbar>
                              <v-card-title primary-title>
                                <span v-html="event.details"></span>
                              </v-card-title>
                              <v-card-actions>
                                <v-btn
                                  flat
                                  color="secondary"
                                >
                                  Cancel
                                </v-btn>
                              </v-card-actions>
                            </v-card>
                          </v-menu>
                        </template>
                      </template>
                    </v-calendar>
                  </v-sheet>
                </v-flex>
              </v-layout>
            </template>
        
        </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="code.js"></script>
  </body>
</html>